<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DefaultBackupFolderPath" value="C:\Temp\Android Backup Test"/>
		<add key="FileTypesFilter" value="avi-N;bmp-Y;csv-N;doc-N;docx-N;gif-N;jpg-Y;mp3-N;mp4-Y;mpeg-N;png-Y;xls-N;xlsx-N;"/>
		<add key="CopyAllFiles" value="false"/>
		<add key="MtpPath" value="Internal shared storage"/>
	</appSettings>
</configuration>